.main-header-container {
  background-color: var(--primary);
  color: var(--text-color-light);
  /* padding: 0 1em; */
  /* max-height: 4em; */
  height: 4em;
  padding: 0 2em;

}
.main-header-layout{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
}


.main-header-container a {
  color: var(--text-color-light)
}

.main-header .main-nav>* {
  font-weight: bold;
  cursor: pointer;
  /*download-font*/

}

.main-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100px; */
  /* height: 100px; */
}

/*  */


.main-logo {
  display: flex;
  align-items: center;
  width: 100px;
  /* height: 4em; */
}